<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="goNotificationInterceptor" type="GoNotificationInterceptor.Configuration.Section, GoNotificationInterceptor"/>
  </configSections>
  <!--
  Sample Subjects:
  Stage [Pipeline/80/CI/1] is fixed
  Stage [Pipeline/81/CI/1] passed
  Stage [Pipeline/82/CI/1] is broken
  Stage [Pipeline/81/Staging/1] failed
  -->
  
  <goNotificationInterceptor 
    debugMode="false"
    listenPort="2718" 
    smtpServer="mail.someserver.com" 
    smtpPort="25" 
    rootNodeName="go" 
    subjectRegex="Stage \[(?&lt;pipeline&gt;[\w!-~]*)/(?&lt;label&gt;[\w!-~]*)/(?&lt;stage&gt;[\w!-~]*)/(?&lt;job&gt;[\w!-~]*)\] (?&lt;status&gt;[\s\w]*)" 
    bodyRegex="^See details: (?&lt;detailsUrl&gt;[\w\d:/\.]*)\r\n\r\n(?&lt;vcs&gt;[\s\S]*)\r\n\r\nSent by Go on behalf of" 
    subjectStylesheetPath="Subject.xslt" 
    bodyStylesheetPath="Body.xslt"/>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
