<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product 
    Name='Go Notification Interceptor' 
    UpgradeCode='4B28EA3C-383A-488A-9984-F6D22FDEF90B' 
    Id='59B96BB8-68C6-44A3-B13E-51C9B1A21645' 
    Language='1033' 
    Manufacturer='Ultraviolet Catastrophe' 
    Version='2.0'>
    
    <Package 
        Keywords='Installer'
			  Description="Go Notification Interceptor"
			  Comments='Go Notification Interceptor' 
        Manufacturer='Ultraviolet Catastrophe'
			  InstallerVersion='150' 
        Languages='1033' 
        Compressed='yes' 
        SummaryCodepage='1252' />

    <Property Id="ALLUSERS">1</Property>

    <Property Id="NET_FRAMEWORK_INSTALLED">
      <RegistrySearch Id='bebd761663' Type='raw'
			  Root='HKLM' Key='SOFTWARE\Microsoft\NET Framework Setup\NDP\v3.5' Name='Install' />
    </Property>

    <Condition Message=".NET Framework 3.5 is not installed. Please install it and try again.">
      Installed OR (NET_FRAMEWORK_INSTALLED = "#1" AND NOT Installed)
    </Condition>

    <Media Id='1' Cabinet='Installer.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='Program Files'>

        <Directory Id='INSTALLDIR' Name='Go Notification Interceptor'>

          <Component Id="Application" Guid="4E50BF9B-FD9F-4304-AF18-92075E6E913D">
            <File Id="ad4b8f87aa" Name="GoNotificationInterceptor.exe" DiskId="1" Source="..\Service\bin\Release\GoNotificationInterceptor.exe" Vital="yes" />
            <File Id="b1f17608c5" Name="GoNotificationInterceptor.exe.config" DiskId="1" Source="..\Service\bin\Release\GoNotificationInterceptor.exe.config" Vital="yes" />
            <File Id="a7f92fdfd4" Name="cses.smtp.server.dll" DiskId="1" Source="..\Service\bin\Release\cses.smtp.server.dll" Vital="yes" />
            <File Id="cc08c9a423" Name="log4net.dll" DiskId="1" Source="..\Service\bin\Release\log4net.dll" Vital="yes" />
            <File Id="d584708c51" Name="Magnum.dll" DiskId="1" Source="..\Service\bin\Release\Magnum.dll" Vital="yes" />
            <File Id="e000a805b4" Name="Topshelf.dll" DiskId="1" Source="..\Service\bin\Release\Topshelf.dll" Vital="yes" />
            <File Id="d54429451a" Name="Subject.xslt" DiskId="1" Source="..\Service\bin\Release\Subject.xslt" Vital="yes" />
            <File Id="cb4bc27988" Name="Body.xslt" DiskId="1" Source="..\Service\bin\Release\Body.xslt" Vital="yes" />

            <util:XmlFile Id="b41d66a990" Action="setValue" ElementPath="/configuration/goNotificationInterceptor/@listenPort" File="[INSTALLDIR]GoNotificationInterceptor.exe.config" Value="[LISTEN_PORT]"/>
            <util:XmlFile Id="ca2e4aefda" Action="setValue" ElementPath="/configuration/goNotificationInterceptor/@smtpServer" File="[INSTALLDIR]GoNotificationInterceptor.exe.config" Value="[SMTP_SERVER]"/>
            <util:XmlFile Id="a4b9ff5ddf" Action="setValue" ElementPath="/configuration/goNotificationInterceptor/@smtpPort" File="[INSTALLDIR]GoNotificationInterceptor.exe.config" Value="[SMTP_PORT]"/>

            <ServiceInstall Id="e04fabf81e"
                            Arguments="service"
                            Name="GoNotificationInterceptor"
                            DisplayName="Go Notification Interceptor"
                            Type="ownProcess"
                            Start="auto"
                            ErrorControl="normal"
                            Description="ThoughtWorks Go Notification Interceptor" />
            <ServiceControl Id="c4a4212412"
                            Name="GoNotificationInterceptor" 
                            Start="install" 
                            Wait="no" />
            <ServiceControl Id="cd78281127" 
                            Name="GoNotificationInterceptor"
                            Stop="both" 
                            Wait="yes" 
                            Remove="uninstall" />
          </Component>

          <!--<Component Id="CustomDomain" Guid="5a4396a4-8eb0-41dc-aed6-880eff40163b">
            <Condition><![CDATA[USECUSTOMDOMAIN = "1"]]></Condition>
            <CreateFolder/>
            <util:XmlFile Id="e8f8b9840a" Action="setValue" ElementPath="/xsl:stylesheet/xsl:template/xsl:variable[@name='host']/@select" File="[INSTALLDIR]Body.xslt" Value="'[CUSTOMDOMAIN]'"/>
          </Component>-->          

        </Directory>
        
      </Directory>

    </Directory>

    <Property Id="LISTEN_PORT" Value="2718"/>
    <Property Id="SMTP_SERVER" Value="smtp.someserver.com"/>
    <Property Id="SMTP_PORT" Value="25"/>
    <!--<Property Id="USECUSTOMDOMAIN"/>
    <Property Id="CUSTOMDOMAIN" Value="https://www.mydomain.com"/>-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <UI Id="aa01aeffaf">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">LicenseAccepted = "1"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="OptionsDlg">1</Publish>

      <!-- Options -->
      <Publish Dialog="OptionsDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="OptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <!-- ******************** -->

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OptionsDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Dialog Id="OptionsDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Options" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure the Notification Interceptor" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <!-- Dialog Body -->
        <Control Id="bec4c55eea" Type="Text" X="75" Y="72" Width="100" Height="15" Transparent="yes" NoPrefix="yes" Text="Listen Port:" />
        <Control Id="abe93b78b7" X="155" Y="70" Width="120" Height="20" Type="Edit"  Property="LISTEN_PORT" Text="2718"/>

        <Control Id="d5fa4d66ac" Type="Text" X="75" Y="92" Width="100" Height="15" Transparent="yes" NoPrefix="yes" Text="SMTP Server:" />
        <Control Id="d6308fafe3" X="155" Y="90" Width="120" Height="20" Type="Edit" Property="SMTP_SERVER" Text="smtp.someserver.com"/>

        <Control Id="d536641951" Type="Text" X="75" Y="112" Width="100" Height="15" Transparent="yes" NoPrefix="yes" Text="SMTP Port:" />
        <Control Id="d4b0f88d16" X="155" Y="110" Width="120" Height="20" Type="Edit" Property="SMTP_PORT" Text="25"/>

        <!--<Control Id="a3a8a3355b" X="75" Y="129" Width="15" Height="20" Type="CheckBox" CheckBoxValue="0"  Property="USECUSTOMDOMAIN"/>
        <Control Id="d536622951" Type="Text" X="90" Y="133" Width="100" Height="15" Transparent="yes" NoPrefix="yes" Text="Custom Domain:" />
        <Control Id="d4b0f99d16" X="155" Y="130" Width="120" Height="20" Type="Edit" Property="CUSTOMDOMAIN" Text="https://www.mydomain.com"/>-->

        <!-- End Dialog Body -->

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
    <UIRef Id="WixUI_Common" />
    <WixVariable Id="WixUICostingPopupOptOut" Value="1" Overridable="yes" />

    <Icon Id="InstallerIcon" SourceFile="Resources\Installer.ico" />
    <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />

    <Feature Id='Complete' Level='1' ConfigurableDirectory='INSTALLDIR' Title='Go Notification Interceptor' Description='Installs the Go Notification Interceptor.'>
      <ComponentRef Id='Application' />
    </Feature>

  </Product>

</Wix>